* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體", sans-serif;
  text-decoration: none;
  outline: none;
  letter-spacing: 1.5px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: "Arial";
  font-weight: bold;
}
