.modal-fade-enter-active {
    transition: all 0.3s ease;
}
.modal-fade-leave-active {
    transition: all 0.5s ease;
}
.modal-fade-enter,
.modal-fade-leave-to {
    top: 50%;
    opacity: 0;
}

// setting
.fade-enter,
.fade-leave-to {
    opacity: 0;
    top: 0%;
}
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}
.fade-enter-to,
.fade-leave {
    opacity: 1;
    top: 50%;
}

// 列表
.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateX(50px);
}
.list-enter-active,
.list-leave-active {
    transition: all 0.3s ease;
}
.list-enter-to,
.list-leave {
    opacity: 1;
    transform: translateX(0);
}
